* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    text-decoration: none;
}

.App {
    color: black;
    min-height: 100vh;
    /* background-image: url("../../shared/assets/images/forest1-2.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-color: #e0e0e0; */
    /* background-color: rgba(0, 0, 0, 0.4); */
}
/* Общие стили для сообщений */
.message {
    display: inline-block;
    white-space: nowrap;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 15px 20px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    animation: slideIn 0.3s ease;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.topBar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    gap: 1rem;
    height: 4rem;
}

.topBarLeft {
    display: flex;
    align-items: center;
}
