/* Google Fonts Link */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Resetting default styling and setting font-family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Login form styling */
.login_form {
    position: absolute;
    top: 50%; /* Сдвиг на 50% сверху */
    left: 50%; /* Сдвиг на 50% слева */
    transform: translate(
        -50%,
        -50%
    ); /* Смещение назад на 50% своей ширины/высоты */
    width: 100%;
    max-width: 27.1875rem;
    background: #fff;
    border-radius: 0.375rem;
    padding: 2.5625rem 1.875rem;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.15);
}
.login_form h3 {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 1.25rem;
}
/* Google & Apple button styling */
.login_form .login_option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.login_form .login_option .option {
    width: calc(100% / 2 - 0.75rem);
}
.login_form .login_option .option a {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    background: #f8f8fb;
    border: 0.0625rem solid #dadaf2;
    border-radius: 0.3125rem;
    margin: 2.125rem 0 1.5rem 0;
    text-decoration: none;
    /* color: #171645; */
    color: #164518;
    font-weight: 500;
    transition: 0.2s ease;
}
.login_form .login_option .option a:hover {
    /* background: #ededf5; */
    background: #edf5ee;
    /* border-color: #626cd6; */
    border-color: #269639;
}
.login_form .login_option .option a img {
    max-width: 1.5625rem;
}
.login_form p {
    text-align: center;
    font-weight: 500;
}
.login_form .separator {
    position: relative;
    margin-bottom: 1.5rem;
}
/* Login option separator styling */
.login_form .separator span {
    background: #fff;
    z-index: 1;
    padding: 0 0.625rem;
    position: relative;
}
.login_form .separator::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 0.0625rem;
    background: #c2c2c2;
    display: block;
}
form .input_box label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
form .input_box_passw label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
/* Input field styling */
form .input_box input {
    width: 100%;
    height: 3.5625rem;
    border: 0.0625rem solid #dadaf2;
    border-radius: 0.3125rem;
    outline: none;
    background: #f8f8fb;
    font-size: 1.0625rem;
    padding: 0rem 1.25rem;
    margin-bottom: 1.5625rem;
    transition: 0.2s ease;
}
form .input_box input:focus {
    /* border-color: #626cd6; */
    border-color: #269639;
}

form .input_box_passw input {
    width: 100%;
    height: 3.5625rem;
    border: 0.0625rem solid #dadaf2;
    border-radius: 0.3125rem;
    outline: none;
    background: #f8f8fb;
    font-size: 1.0625rem;
    padding: 0rem 1.25rem;
    margin-bottom: 0.625rem;
    transition: 0.2s ease;
}
form .input_box_passw input:focus {
    /* border-color: #626cd6; */
    border-color: #269639;
}
form .input_box .password_title {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

form .input_box_passw .password_title {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

form .input_box {
    position: relative;
}

form .input_box_passw {
    position: relative;
}
a {
    text-decoration: none;
    /* color: #626cd6; */
    color: #269639;

    font-weight: 500;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* Login button styling */
form button {
    width: 100%;
    height: 3.5rem;
    border-radius: 0.3125rem;
    border: none;
    outline: none;
    /* background: #626cd6; */
    background: #269639;

    color: #fff;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 1.75rem;
    transition: 0.3s ease;
}
form button:hover {
    /* background: #4954d0; */
    background: #22632d;
}

@media (min-width: 100rem) {
    .login_form {
        max-width: 38.75rem;
        padding: 3.75rem 3rem;
    }

    .login_form h3 {
        font-size: 1.5rem;
    }

    .login_form .login_option .option a {
        height: 4.5rem;
        font-size: 1.1875rem;
    }

    form .input_box input,
    form .input_box_passw input {
        height: 4.375rem;
        font-size: 1.1875rem;
    }

    form button {
        height: 4.5rem;
        font-size: 1.3125rem;
    }
}

.message {
    position: fixed;
    top: 1.25rem;
    left: 1.25rem;
    padding: 0.9375rem;
    background-color: #4caf50;
    color: white;
    border-radius: 0.3125rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.separator {
    width: 100%;
    /* height: 0.0625rem; */
}
